@media (min-width: 1024px) {
    #header .mobile-menu-btn {
        display: none;
    }
    
}
@media (max-width: 1024px) {
    .btn {
        padding: 16px 16px;
    }
    .s-ful-width {
        width: 100%!important;
    }
    .contact-form .form-control {
        padding: 15px;
    }
    #footer .social-list {
        font-size: 48px;
    }
    #footer .social-list a{
        margin: 8px 0;
    }
    #footer .copyright {
        font-size: 18px;
        padding: 12px 0;
        display: inline-block;
    }
    .contact-info {
        font-size: 18px;
        line-height: 2.2;
}
     .st-mt8 {
        margin-top: 8px!important;
     }
    }
@media (max-width: 1024px) and (min-width: 740px) {
    #header .mobile-menu-btn {
        display: none;
    }
   
} 
@media (max-width: 740px) {   
        .s-col-ful {
            width: 100% !important;
        }
        #nav {
            display: block;
        }
        #nav > li {
            display: block;
        }
        #nav .subnav {
            position: initial;
            background-color: #333;
        }
        #nav .subnav a {
            color: #fff;
            padding: 4px 64px;
        }
        #nav > li:first-child {
            display: inline-block;
        }
        #header .mobile-menu-btn {
            display: block;
        }
        #header .search-btn {
            display: none;
        }
        #header {
            overflow: hidden;
        }
        #content .member-item {
            width: 100% ;
            margin: 10px 0;
        }
}